@font-face {
   font-family:   "Raleway";
   src:           url(do-not-move-this-files/fonts/RaleywayFont.woff2);
}

html {
   height:        100%;
}

body {
   /*width: 35em;*/
   height:        100%;
   margin:        0 auto;
   font-family:   Tahoma, Verdana, Arial, sans-serif;
}

/*@media (min-width: 20px) and (max-width: 800px) {
   body {
      font-size:  80%;
   }
}
@media (min-width: 801px) and (max-width: 1080px) {
   body {
      font-size:  90%;
   }
}
@media (min-width: 1300px) and (max-width: 2000px) {
   body {
      font-size:  100%;
   }
}*/

#top-pan {
   background-color:                #edecff;
   border-bottom-right-radius:      6px;
   border-bottom-left-radius:       6px;
   border-bottom: 1px solid;
   border-color:  #cfcecf;
   height:        10%;
   max-height:    50px;
   min-height:    40px;

   position:      relative;
}

#main-github-img {
   /*width:         40px;
   height:        40px;*/
   /*width:         2.5em;
   height:        2.5em;*/
   /*height:        100%;*/
   /*width:         10%;
   height:        80%;*/
   /*float:         left;
   margin-right:  10px;*/
   height:        80%;
   position:      absolute;
   top:           50%;
   transform:     translateY(-50%);
   left:          10px;
}

#name-text {
   /*float:         left;*/
   /*font-size:     2.5em;*/
   font-size:     1.5em;
   margin-left:   3%;
   /*font-size:     230%;*/
   /*height:        100%;*/
   /*height:        60em;
   font-size:     150%;*/
   left:          100px;
   position:      absolute;
   top:           50%;
   transform:     translateY(-50%);

   color:         #134FB8;
   /*font-size:     20px;*/  /*130%;*/
   font-family:   "Raleyway";
   margin-right:  10px;
}

#top-tabs {
   position:      absolute;
   top:           70%;
   transform:     translateY(-50%);
   left:          30%;
   height:        80%;
   /*float:         left;*/
   /*left:          30%;*/
   border:        0px;
}
#tab-home,#tab-open-source,#tab-unity,#tab-about-me {
   margin:        0px !important;
}


/* tiles */
/*html, body {
   height:        100%;
   min-height:    100%;
}*/
.tile-container {
   position:      absolute;
   height:        600px;
   width:         600px;
   float:         left;
}
.first {
   float:         left;
   width:         20%;
   height:        30%;
   background-color:    #DE5A16;
}
.second {
    float:        left;
    width:        20%;
    height:       70%;
    background-color:   #01B4Df;
}
.third {
    float:        right;
    width:        80%;
    height:       80%;
    background-color:   #DB9A20;
}
.fourth {
    float:        right;
    width:        40%;
    height:       20%;
    background-color:   #02498A;
}
.last {
    float:        right;
    width:        40%;
    height:       20%;
    background-color:   #66BE12;
}
/* end tiles */

