@font-face {
   font-family:   "Raleway";
   src:           url(do-not-move-this-files/fonts/RaleywayFont.woff2);
}

@font-face {
   font-family:   "OpenSans";
   src:           url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTegdm0LZdjqr5-oayXSOefg.woff2);
}

html { height: 100%; }

body {
   height:        100%;
   margin:        0 auto;
   font-family:   Tahoma, Verdana, Arial, sans-serif;
}

/*@media (min-width: 20px) and (max-width: 800px) {
   body {
      font-size:  80%;
   }
}
@media (min-width: 801px) and (max-width: 1080px) {
   body {
      font-size:  90%;
   }
}
@media (min-width: 1300px) and (max-width: 2000px) {
   body {
      font-size:  100%;
   }
}*/

#top-pan {
   background-color:                #edecff;
   border-bottom-right-radius:      6px;
   border-bottom-left-radius:       6px;
   border-bottom:                   1px solid;
   border-color:                    #cfcecf;
}

#nav-very-top {
   height:        60px;
   position:      relative;
}
#main-github-img {
   width:         40px;
   height:        40px;
   left:          10px;

   position:      absolute;
   top:           50%;
   transform:     translateY(-50%);
}
#name-text {
   left:          100px;
   position:      absolute;
   top:           50%;
   transform:     translateY(-50%);

   font-size:     20px;
   font-family:   "Raleyway";
   color:         #134FB8;
}
#name-text:hover {
   text-decoration:     none;
}
a {
   outline:             0 !important;
}
.hovered {
   background-color:    white !important;
}
/*.nav-i>a:hover {
   background-color:    white !important;
}*/
.active>a {
   background-color:    #8ed1f2 !important;
}
/*#top-tabs {
   position:      absolute;
   top:           70%;
   transform:     translateY(-50%);
   left:          30%;
   height:        80%;
   float:         left;
   left:          30%;
   border:        0px;
}*/
/*#tab-home,#tab-open-source,#tab-unity,#tab-about-me {
   margin:        0px !important;
}*/
.page {
   position:absolute;
   left: 0;
   width:   100%;
}

/* tiles */
#tile-container {
   color:               white;
   position:            absolute;
   width:               100%;
   height:              100%;
}
#first {
   float:               left;
   width:               33.333%;
   height:              40%;
   background-color:    #DE5A16;
}
#first > .back { background-color:    #DE5A16; }
#second {
    float:              left;
    width:              33.333%;
    height:             60%;
    background-color:   #01B4Df;
}
#second > .back { background-color:   #01B4Df; }
#third {
    float:              right;
    width:              66.666%;
    height:             60%;
    background-color:   #DB9A20;
}
#third > .back { background-color:   #DB9A20; }
#fourth {
   float:              right;
   width:              33.333%;
   height:             40%;
   background-color:   #02498A;
}
#fourth > .back { background-color:   #02498A; }
#fifth {
   float:               right;
   width:               33.333%;
   height:              40%;
   background-color:    #66BE12;
}
#fifth > .back { background-color:    #66BE12; }
/* end tiles */


#first, #second, #third, #fourth, #fifth {
   opacity:             0.8;
}
.tiles > .front > img {
   opacity:             0.3; /*0.6; 0.3; 0.9; kkkkk tweakme*/
}
.tiles > .back {
   opacity:             0.8;
}

.ex-title {
   font-family:         'OpenSans';
   font-size:           150%;
   font-weight:         300;
   font-style:          normal;
   /*color:               #ffffff;*/
   color:               #000000;
   text-align:          center;
}

/*#fourth > .front > .ex-title {
   color:               #ffffff;
}
#first > .front > .ex-title {
   position:            absolute;
   text-align:          center;
   top:                 40px;
   left:                50%;
   transform:           translateX(-50%);
}
#second > .front > .ex-title {
   position:            absolute;
   top:                 20px;
   left:                53%;
   transform:           translateX(-45%);
}*/

.front > .ex-title {
   background-color:    #cccccc;
   opacity:             0.9;
   border-radius:       1px;
   border-width:        2px;
   border-style:        solid;
   border-color:        #bbb;
}

.ex-desc {
   text-align:          center;
   padding:             10px;
}

.run {
   text-align:          center;
   color:               red;
}
.run:hover {
   color:               #ff0000;
   cursor:              pointer;
}


.front {
   position:            relative;
   height:              100%;
   width:               100%;
}

.tile-img {
   position:            absolute;
   left:                0;
   top:                 0;
   height:              100%;
   width:               100%;
   z-index:             -1;
}

#pup-pic {
   width:               90px;
   height:              90px;
}
#third-back {
   display:             none;
}
#third-cont {
   background-color:    #DB9A20; /*blue*/
}

@keyframes rotate-y-forward-180 {
   from {transform: rotateY(0deg);}
   to   {transform: rotateY(180deg);}
}
@keyframes rotate-y-backwards-180 {
   from {transform: rotateY(180deg);}
   to   {transform: rotateY(0deg);}
}

@keyframes rotate-y-forward-90 {
   from {transform: rotateY(0deg);}
   to   {transform: rotateY(90deg);}
}
@keyframes rotate-y-backwards-90 {
   from {transform: rotateY(90deg);}
   to   {transform: rotateY(0deg);}
}

